.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}


.logo{
    width: 90px;
    padding-left: 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding-right: 100px;
}

.nav-items > ul >li{
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.search{
    margin-top:10px
}

.res-card{
    margin-top: 10px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.res-card:hover{
    border: 1px;
}

.res-cont{
    display:flex;
    flex-wrap: wrap;
}

.res-card h2,h4{
    margin-left: 5px;
}

.res-card{
    background-color: #ebe3e3;
}
.res-logo{
    height: 170px;
    width: 190px;
    margin: 5px;
}

.filter-btn{
    margin-left: 5px;
    margin-top: 10px;
}

.filter{
    display: flex;
}

.error-container {
    text-align: center;
    font-size: large;
    margin: 20px 0;
  }


/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .shimmer-card {
    flex-basis: 200px;
    border-color: #d3d5df;
  } 
  .shimmer-container .shimmer-img {
    margin: 10px;
    height: 400px;
    width: 200px;
    background-color: #ebe3e3;
  }