.header{
    display: flex;
    justify-content: space-between;
}

.app{
  max-width: 1100px; /* You can adjust this */
  margin: 0 auto;
}


.logo{
    width: 90px;
    padding-left: 20px;
}


.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding-right: 100px;
}

.nav-items > ul >li{
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
}

.search{
    margin-top:10px
}

.res-cont{
    display:flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.card-link {
  text-decoration: none;
  color: inherit; /* optional: prevents blue/purple link text */
}

/* restaurent card and its content css*/
.res-card{
    margin-top: 10px;
    margin-right: 5px;
    width: 220px;
    height: 300px;
    transition: transform 0.3s ease;

}

.res-card:hover{
     transform: scale(1.03);
}

.res-logo{
    height: 170px;
    width: 250px;
    margin: 5px;
    border-radius: 10px;
}

.res-name{
  margin-left: 12px;
  font-size: 20px;
  font-weight: 300px;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-area {
  margin-left: 12px;
  color: #666;
  font-size: 0.9rem;
    margin-bottom: 7px;

}

.res-meta {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.85rem;
  color: #444;
}

.rating-distance {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 0.6rem; /* space between rating and distance */
}

.res-rating {
  margin-left: 12px;

  background-color: #48c479;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.85rem;
}

.res-distance {
  color: #555;
  font-size: 0.85rem;
}

.res-cuisines {
  
  margin-left: 12px;
  color: #555;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-btn{
    margin-left: 5px;
    margin-top: 10px;
}

.filter{
    display: flex;
}

.error-container {
    text-align: center;
    font-size: large;
    margin: 20px 0;
  }

.btn-header{
    margin: 0.5rem;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}
.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 20px;
}
.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shimmer-item-details {
  width: 438px;
}
.shimmer-menu-card {
  display: flex;
  justify-content: space-evenly;
  width: 848px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(236, 229, 229, 0.1);
}
.shimmer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 118px;
  height: 150px;
}
.shimmer-img-wrapper .shimmer-img {
  width: 118px;
  height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
  width: 94px;
  height: 34px;
  margin-top: 10px;
}
/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .shimmer-card {
    flex-basis: 200px;
  } 
  .shimmer-container .shimmer-img {
    margin: 10px;
    height: 350px;
    width: 220px;
    gap: 3rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  .shimmer-w60 {
    width: 60%;
    margin-top: 10px;
  }
  
  .shimmer-w40 {
    width: 40%;
    margin-top: 10px;
  }
  
  .shimmer-w20 {
    width: 20%;
    margin-top: 4px;
  }

  /* Restaurent menu css */

  .restaurant-menu {
    margin-top: 80px;
    min-height: 80vh;
    width: auto;
  }
  .restaurant-summary {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-black);
    color: var(--white);
  }
  .restaurant-img {
    width: 250px;
    height: 170px;
    border-radius: 5px;
  }

  .restaurant-title {
    font-size: 40px;
    max-width: 540px;
    font-weight: 300px;
  
  }
  .restaurant-tags {
    font-style: italic;
    color: #d80f0f;

  }

  .restaurant-rating {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    gap: 5px;
    background-color: var(--dark-green);
    border-radius: 5px;
  }
  
  
  .menu-items-container {
    margin-top: 30px;
    width: 850px;
  }
  .menu-title-wrap {
    padding: 20px;
  }
  .menu-count {
    margin-top: 14px;
    line-height: 1.3;
    color: #666;
    letter-spacing: -0.3px;
    font-size: 1rem;
  }
  
  .menu-items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    max-height: 250px;
    padding: 20px;
    border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
  }
  .menu-item-details {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
  }
  
  .item-title {
    width: 60%;
  }
  .item-desc {
    margin-top: 14px;
    line-height: 1.3;
    color: #666;
    width: 60%;
    letter-spacing: -0.3px;
    font-size: 1rem;
  }
  .item-cost {
    margin-top: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: #3e4152;
    width: 40%;
  }
  
  .menu-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
    overflow: hidden;
  }
  .menu-item-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  .add-btn {
    background-color: var(--orange);
    color: var(--text-color);
    padding: 8px 25px;
    cursor: pointer;
    outline: none;
    border-color: var(--dark-orange);
    margin-top: 10px;
    border-radius: 5px;
  }
  

  .res-info-card{
    height: 140px;
    width: 800px;
    border: 1px solid rgb(234, 223, 223);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    padding-bottom: 20px
  }

  

  .restaurant-details {
    margin: 18px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 10px;
    color: inherit;
    font-weight: 600;
    font-size: 16px;
    max-width: 340px;
  }


.rating-badge {
    
    
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}

.outlet-info{
  padding-bottom: 10px;
}

.outlet-info::before,
.delivery-time::before {
    content: "|"; /* Vertical separator */
    color: grey;
    font-weight: bold;
    margin-right: 8px;
    font-size: 18px;
}

/* restaurent menu search*/

.res-menu-search{
  margin: 90px;
}

.res-menu-seach-content{
  height: 60px;
  width: 800px;
  border: 1px solid rgb(234, 223, 223);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin: 18px;
    margin-left:1px;
}


  .toggle-group {
      display: flex;
      gap: 2rem;
      margin: 60px;
      padding-top: 20px;
      margin-bottom: 20px;
      margin-left: 20rem
    }

    .toggle-wrapper {
      display: flex;
      align-items: center;
      background-color: #f1f1f1;
      padding: 0.3rem 0.6rem;
      border-radius: 25px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .icon-box {
      width: 24px;
      height: 24px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      margin-right: 8px;
    }

    .veg .icon-box {
      border-color: #008000;
    }

    .nonveg .icon-box {
      border-color: #d32f2f;
    }

    .veg .dot {
      width: 10px;
      height: 10px;
      background-color: #008000;
      border-radius: 50%;
    }

    .nonveg .triangle {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 12px solid #d32f2f;
    }



